.donate {
  background-color: #3D4140;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 300px;
    height: 500px;
  }
}


.donate__title {
}
.donate__desc {
}
.donate__close-btn {
}