.footer {
    background-color: #3D4140;
    flex: 0 0 auto;
    font-family: "Jost", sans-serif;
}

.footer .container {
  display: flex;
  padding: 20px;

  @media (max-width: 1250px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 50px;
    gap: 20px;
    grid-template-areas: "footer__networks footer__feedback" "footer__donate footer__donaters-list";
  }

  @media (max-width: 720px) {
    display: flex;
    flex-direction: column;
  }
}

.footer__networks {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0;
  gap: 20px;

  @media (max-width: 1250px) {
    grid-area: footer__networks;
  }

  @media (max-width: 720px) {
    width: fit-content;
    margin: 0 auto;
    gap: 47px;
  }

  @media (max-width: 370px) {
    gap: 27px;
  }
}

.networks-item:hover img {
  transform: scale(110%);
}

.footer__feedback,
.footer__donate {
  margin: 0 0 0 20px;
  display: flex;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #8ab4f4;
}

.footer__feedback {
  @media (max-width: 1250px) {
    grid-area: footer__feedback;
    margin: 0 20px 0 auto;
  }

  @media (max-width: 720px) {
    width: fit-content;
    margin: 0 auto;
  }

  @media (max-width: 370px) {
    font-size: 13px;
  }
}

.footer__feedback p,
.footer__donate p {
  display: flex;
  padding: 0 20px 0 20px;
  border-top: 1px #8ab4f4 solid;
  border-bottom: 1px #8ab4f4 solid;
  border-right: 1px #8ab4f4 solid;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.footer__donate {
  color: #e67c54;

  @media (max-width: 1250px) {
    grid-area: footer__donate;
    margin: 0;
  }

  @media (max-width: 720px) {
    width: fit-content;
    margin: 0 auto;
  }

  @media (max-width: 370px) {
    font-size: 13px;
  }
}

.footer__donate:hover p {
  background-color: #e67c54;
  color: white;
}

.footer__feedback:hover p {
  background-color: #8ab4f4;
  color: white;
}

.footer__donate p {
  border-top: 1px #e67c54 solid;
  border-bottom: 1px #e67c54 solid;
  border-right: 1px #e67c54 solid;

  @media (max-width: 720px) {
    padding: 20px 38px 20px 38px;
  }
}

.footer__donaters-list {
  padding: 0 20px 0 20px;
  border: 1px #e67c54 solid;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e67c54;
  height: 50px;

  &:hover {
    background-color: #e67c54;
    color: white;
  }

  @media (max-width: 1250px) {
    grid-area: footer__donaters-list;
    width: fit-content;
    margin: 0 20px 0 auto;
    padding: 0 20px 0 65px;
  }

  @media (max-width: 720px) {
    width: fit-content;
    margin: 0 auto;
    height: 50px;
  }

  
  @media (max-width: 370px) {
    font-size: 13px;
  }
}