.literature {
}
.literature .container {
  padding: 0 20px;
}
.literature__title {
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 70px 0;
  line-height: 1.2;
  
  @media (max-width: 1060px) {
    margin: 40px 0 20px 0;
    text-align: right;
    padding: 0 50px 0 0;
  }
}
.literature__items {
  padding: 30px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-wrap: wrap;

  @media (max-width: 1060px) {
    flex-direction: row;
    gap: 20px;
  }
}
.literature__item {
  // border: 2px solid #3D4140;
  border-radius: 15px;
  position: relative;
  padding: 20px 20px 20px 320px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  background-color: #fff;

  @media (max-width: 1397px) {
    padding: 20px 20px 20px 350px;
  }

  @media (max-width: 1245px) {
    padding: 20px 20px 20px 360px;
  }

  @media (max-width: 1102px) {
    padding: 20px 20px 20px 420px;
  }

  @media (max-width: 1060px) {
    width: calc(33% - 11px);
    padding: 20px 20px 20px 20px;
  }

  // @media (max-width: 1052px) {
  //   padding: 300px 0 0 0;
  // }
}
.literature__item-img {
  position: absolute;
  height: calc(100% - 40px);
  width: auto;
  left: 20px;

  @media (max-width: 1060px) {
    position: static;
    width: 100%;
    height: auto;
  }
  // @media (max-width: 1052px) {
  //   height: 300px;
  //   width: auto;
  //   top: 20px;
  // }
}
.literature__item-title {
  width: fit-content;
  // padding: 20px 0 20px 0;
  @media (max-width: 1397px) {
    width: 100%;
  }

  @media (max-width: 1060px) {
    margin: 10px 0 0 0;
    font-size: 25px;
    text-align: center;
  }
}
.literature__item-izdat {
  margin-left: 40px;
  // padding:20px 0 20px 0;
  @media (max-width: 1397px) {
    margin-left: 0;
  }
}
.literature__item-type {
  margin-left: 40px;

  @media (max-width: 1060px) {
    margin-left: 0;
  }
}
.literature__item-desc {
  margin: 20px 0 0 0;

  @media (max-width: 1060px) {
    font-size: 13px;
  }
}
.literature__item-download {
  padding: 10px;
  border: 3px solid #3D4140;
  margin: 10px 0 0 0;
  // margin: 0 0 0 20px;
  display: flex;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3D4140;

  &:hover {
    background-color: #3D4140;
    color: #C9D0CE;
  }

  @media (max-width: 1397px) {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (max-width: 1060px) {
    position: static;
    margin: 20px auto 0; 
    border-radius: 10px;
  }
}

.literature__item-btn-hide {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0;
  color: #3d9169;
  
  // @media (max-width: 1060px) {
  //   display: block;
  // }
}

.literature__item-desc--short {
  // display: none;
  
  // @media (max-width: 1060px) {
  //   display: block;
  // }
}