.parameters {

}

.parameters .container {
  padding: 0 200px;
}

.parameters__title {
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 0 0;
}

.parameters__desc {
  text-align: center;
  font-size: 22px;

}

.parameters__car {

}
.parameters__item {

}
.parameters__item-title {

}
.parameters__item-value {

  span {}
}